* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom right, #4b0082, #1a1a2e);
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.content {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.5em;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
}

.upload-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #b259ff;
    color: white;
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.upload-btn:hover {
    background-color: #9d4ae2;
    transform: scale(1.1);
}



#uploadPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#uploadPopup .popup-content {
    background: #333;
    color: white;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    width: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#uploadPopup .popup-content h2 {
    margin-bottom: 20px;
}

#uploadPopup .popup-content input[type="file"] {
    padding: 10px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

#uploadPopup .popup-content input[type="file"]:hover {
    background-color: #5b5b5b;
}

#uploadPopup .popup-content button {
    background-color: #b259ff;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#uploadPopup .popup-content button:hover {
    background-color: #9d4ae2;
    transform: scale(1.05);
}

#uploadPopup .close-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

#uploadPopup .close-btn:hover {
    background-color: #da190b;
}

.file-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.file-list li {
    padding: 15px;
    margin: 10px 0;
    background-color: #2d2d2d;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    border-left: 5px solid transparent;
}

.file-list li:hover {
    background-color: #333;
    border-left: 5px solid #b259ff;
}

.file-info {
    display: flex;
    gap: 20px;
    width: 50%;
}

.file-info span {
    flex: 1;
    text-align: center;
    text-transform: capitalize;
}

.actions {
    display: flex;
    gap: 15px;
}

.actions a {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.actions a:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

.actions .delete {
    background-color: #f44336;
}

.actions .delete:hover {
    background-color: #da190b;
}

#previewPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1200px;
    height: 80%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

#previewPopup .popup-content {
    background: #333;
    color: white;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
}

#previewContainer {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
}

#previewContainer img, #previewContainer video {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#previewContainer pre {
    background-color: #444;
    color: white;
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size: 1.1em;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

#previewPopup .close-btn {
    background-color: #b259ff;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 1.1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#previewPopup .close-btn:hover {
    background-color: #9d4ae2;
    transform: scale(1.05);
}

#previewPopup .close-btn:focus {
    outline: none;
}





.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(93, 0, 93, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    background: #9b59b6;
    border-radius: 10px;
    margin-left: -100%;
    width: 0%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: loadingAnimation 2s linear infinite;
    background: linear-gradient(90deg, #9b59b6, #e74c3c);
}

@keyframes loadingAnimation {
    0% {
        margin-left: -100%;
        width: 0%;
    }
    25% {
        margin-left: 0%;
        width: 25%;
    }
    50% {
        width: 50%;
    }
    75% {
        width: 75%;
    }
    100% {
        margin-left: 100%;
        width: 0%;
    }
}

.loading-circle {
    border: 10px solid rgba(255, 255, 255, 0.2);
    border-top: 10px solid #8e44ad;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 1s linear infinite;
    margin: 20px 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-content {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}


/* Share Modal Styles */
#shareModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1200px;
    height: 80%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

#shareModal .modal-content {
    background: #333;
    color: white;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    width: ;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
}

#previewContainer {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
}

#shareModal h3 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #b259ff;
}

#shareModal label {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: 500;
}

#shareDuration {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
}

#shareDuration option {
    background-color: #333;
    color: white;
}

#shareModal button {
    background-color: #b259ff;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#shareModal button:hover {
    background-color: #9d4ae2;
    transform: scale(1.05);
}

#shareResult {
    margin-top: 15px;
    font-size: 0.95em;
    word-break: break-all;
    color: #ccc;
}

/* Animation */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#confirmDeletePopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#confirmDeletePopup .popup-content {
    background: #333;
    color: white;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    animation: fadeInUp 0.3s ease-in-out;
}

#confirmDeletePopup .popup-content h2 {
    margin-bottom: 15px;
    font-size: 1.8em;
    color: #f44336;
}

#confirmDeletePopup .popup-content p {
    font-size: 1em;
    margin-bottom: 30px;
    color: #ddd;
}

#confirmDeletePopup .popup-buttons {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

#confirmDeletePopup .popup-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#confirmDeletePopup .popup-buttons button:first-child {
    background-color: #f44336;
    color: white;
}

#confirmDeletePopup .popup-buttons button:first-child:hover {
    background-color: #da190b;
    transform: scale(1.05);
}

#confirmDeletePopup .popup-buttons button:last-child {
    background-color: #555;
    color: white;
}

#confirmDeletePopup .popup-buttons button:last-child:hover {
    background-color: #777;
    transform: scale(1.05);
}

.popup-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.popup-content {
    background: #333;
    color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 90%;
}

.popup-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.popup-buttons button:first-child {
    background-color: #4CAF50;
    color: white;
}

.popup-buttons button:last-child {
    background-color: #888;
    color: white;
}

#shareDurationSelect {
    width: 100%;
    padding: 10px 14px;
    margin-top: 10px;
    font-size: 1em;
    background-color: #444;
    color: #fff;
    border: 1px solid #666;
    border-radius: 8px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='14' height='10' viewBox='0 0 14 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l6 6 6-6' stroke='%23fff' stroke-width='2' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 12px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#shareDurationSelect:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.3);
    outline: none;
}

.select-container {
    text-align: left;
    margin-top: 15px;
}

.select-container label {
    display: block;
    margin-bottom: 6px;
    font-size: 0.95em;
    color: #ccc;
}

