<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpringCloud Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div th:replace="~{fragments/alert}"></div>
<div class="container">
    <form class="login-form" th:action="@{/login}" method="POST">
        <h2>SpringCloud</h2>
        <div class="input-group">
            <input type="text" name="username" required placeholder=" " />
            <label>Username</label>
        </div>
        <div class="input-group">
            <input type="password" name="password" required placeholder=" " />
            <label>Password</label>
        </div>
        <div class="checkbox-group">
            <input type="checkbox" id="remember-me" name="remember-me">
            <label for="remember-me">Remember me</label>
        </div>
        <button type="submit">Login</button>
    </form>
</div>

<script>
    document.querySelectorAll('input').forEach(input => {
        input.addEventListener('focus', () => input.parentElement.classList.add('focused'));
        input.addEventListener('blur', () => {
            if (!input.value) input.parentElement.classList.remove('focused');
        });
    });
</script>
</body>
</html>
